@import url('https://fonts.cdnfonts.com/css/poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body{
    background: #e0fff6 ;
    .text {
        h1 {
            display: block;
            margin: 40px 100px 0px;
            text-align: center;
            padding: 10px;
            font-size: 35px;
        }
        h2 {
            display: block;
            margin: 0px 0px 40px;
            padding: 10px;
            text-align: center;
            font-size: 30px;
        }
    }
    .Palettes {
        ul {
        display: flex;
        justify-content: center;
            .color {
                background-color: #73ffd7;
                border-radius: 6px;
                padding: 8px;
                margin: 8px;
                list-style: none;
                text-align: center;
                .color-box {
                    height: 140px;
                    width: 120px;
                    background-color: #ffcb7d;
                    border-radius: 6px;
                }
                .hex-value {
                    display: block;
                    margin: 7px 5px;
                }
            }
        }
    }
    .button {
        background-color: #2f6e5e;
        display: flex;
        justify-content: center;
        width: fit-content;
        border-radius: 45px;
        .generate {
            font-size: 30px;
            color: #e0fff6;
            padding: 20px 30px 20px 80px;
            font-weight: 500;
        }
    }
}